* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: white;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; /* fundo preto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: white;
  font-family: 'Poppins', sans-serif;
}

#preloader p {
  margin-top: 20px;
  font-size: 16px;
  color: #ccc;
}

/* Animação lds-ellipsis */
.lds-ellipsis {
  color: #ffffff;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}
@keyframes lds-ellipsis3 {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}
@keyframes lds-ellipsis2 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(24px, 0); }
}


.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.logo img {
  height: 70px;
  object-fit: contain;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover,
nav a.ativo {
  color: #ccc;
}

nav i.fas.fa-search {
  font-size: 18px;
  color: white;
  transition: transform 0.3s;
}

nav i.fas.fa-search:hover {
  transform: scale(1.2);
}

.hero-online {
  height: 70vh;
  background: url('imgs/onlinee.jpg') center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-online .overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 50px;
  border-radius: 10px;
  text-align: center;
}

.hero-online h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.hero-online p {
  font-size: 20px;
}

.player-online {
  padding: 60px 20px;
  text-align: center;
}

.video-box {
  max-width: 900px;
  margin: 0 auto;
}

.descricao-video {
  margin-top: 20px;
  font-size: 18px;
  color: #ccc;
}

.orientacoes {
  background-color: #111;
  padding: 60px 20px;
  text-align: center;
}

.orientacoes h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.orientacoes ul {
  list-style: none;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 0;
}

.orientacoes li {
  font-size: 18px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.orientacoes i {
  color: #00aaff;
  font-size: 22px;
}

footer {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 20px;

}
